body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

#root {
  width: 100%;
  max-width: 75ch;
  text-align: center; /* Centra el texto dentro del contenedor */
}

img {
  width: 10%;
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}